@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,400;1,600;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: red;
  padding: 2.5rem;
  text-align: center;
}

header h1 {
  color: #ffffff;
  font-size: 3rem;
}

main {
  margin: 0 10rem 0 10rem;
}

section#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5rem;
}

section#cards div.card {
  box-shadow: 5px 5px 5px 5px #00000020;
  margin-top: 2.5rem;
  padding: 1rem;
  width: 20rem;
}

section#cards div.card img {
  width: 100%;
}

section#cards div.card p.descricao {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

section#cadastro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 5rem;
}

section#cadastro form {
  width: 50%;
}

section#cadastro h2 {
  padding-bottom: 5rem;
  text-align: center;
  width: 100%;
}

section#cadastro form input {
  border: solid 2px rgb(154, 151, 151);
  border-radius: 0.5rem;
  font-size: 1rem;
  margin: 0rem 1rem 1rem 1rem;
  outline: none;
  padding: 0.75rem;
  width: 100%;
}

section#cadastro form label {
  color: rgb(128, 125, 125);
  margin: 0.75rem;
}

section#cadastro form button {
  background-color: #ffffff;
  border: solid 2px red;
  color: red;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  transition: 0.5s;
  width: 20%;
}

section#cadastro form button:hover {
  background-color: rgb(44, 36, 36);
  border-radius: 2rem;
  color: white;
}
